.global-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  height: 0;

  &.active {
    animation: FadeOutAndHide 300ms ease forwards;
  }
}

@keyframes FadeOutAndHide {
  0% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
