:host {
  --skeleton-row-height: 0;
}

.skeleton-row {
  width: 100%;
  height: calc(var(--skeleton-row-height) * 1px);
  border-radius: 6px;
  animation: skeleton-loading 1s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(210, 9%, 87%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
