<div class="wrapper">
  <h2>Workout Tracker</h2>

  <div class="start-cta">
    <button (click)="openModal()">Start New Workout</button>
  </div>

  <div class="workout-section">
    <h3>Workouts</h3>

    <WorkoutCard
      *ngFor="let workout of workouts"
      [workout]="workout">
    </WorkoutCard>
  </div>

  <Modal [isActive]="isActive" (close)="closeModal()">
    <div modalBody class="new-workout">
      <label>Name your workout: </label>

      <input class="standard" type="text" [(ngModel)]="newWorkoutTitle" />

      <div class="new-workout-btns">
        <button (click)="createWorkout()">
          Create
        </button>

        <button class="link-button"(click)="closeModal()">
          Cancel
        </button>
      </div>
    </div>
  </Modal>
</div>
