:host {
  position: relative;
}

.set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 35px;
  padding: 8px 0;
  transform: translateX(0);
  position: relative;
  align-items: center;
  background-color: white;
  z-index: 1;

  &.active {
    background-color: #f1f1f1;
  }

  input.set-input {
    height: 20px;
  }

  input[type="checkbox"] {
    height: 20px;
  }

  &.complete {
    background: #cef0ce;

    input.set-input {
      background: transparent;
      border: 1px solid #7fab7f73;
      color: #7fab7f73;
      height: 20px;
    }
  }
}

.set-num {
  padding-left: 14px;
}

.set-delete {
  position: absolute;
  width: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(222 91 91);
  display: grid;
  align-items: center;
  z-index: 0;
  box-shadow: inset 2px 0px 4px 0px #642020;
  text-align: center;

  span {
    padding-left: 10px;
    color: white;
    font-weight: bold;
  }
}
