<div #ContentWrapper class="set" [class.complete]="set.isComplete" [style]="{ transform: 'translateX('+ position + 'px)' }">
  <div class="set-delete">
    <span (click)="delete()">Delete</span>
  </div>

  <div class="set-num">{{setIndex + 1}}</div>

  <div>
    <input
      class="set-input"
      type="number"
      [value]="set.weight"
      (blur)="onWeightChanged($event)"
      [disabled]="set.isComplete"
    />
  </div>

  <div>
    <input
      class="set-input"
      type="number"
      [value]="set.reps"
      (blur)="onRepsChanged($event)"
      [disabled]="set.isComplete"
    />
  </div>

  <div>
    <Checkbox
      [selected]="set.isComplete"
      (selectedChange)="onComplete()">
    </Checkbox>
  </div>
</div>
