.workout-detail {
  display: grid;
  padding: 20px;
  padding-bottom: 50px;
}

.workout-detail-timer-wrapper {}

.workout-detail-scrolling-timer {
  visibility: hidden;
  position: fixed;
  top: 4vh;
  right: 20px;
  z-index: -1;
  background: #444;
  padding: 8px;
  border-radius: 8px;

  &.show {
    visibility: visible;
    z-index: 2;
  }

  ::ng-deep {
    .timer {
      font-size: 20px;
      color: white;
    }
  }

}
.workout-detail-timer {
  margin-bottom: 20px;
}

@keyframes MakeSmall {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    width: auto;
  }
}

.workout-detail-title {
  h2 {
    color: #444;
    margin-bottom: 5px;
  }
}

.workout-detail-header {
  display: flex;
  column-gap: 10px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
}

.workout-detail-exercises {
  display: grid;
  overflow: hidden;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .workout-detail-exercise {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.ModalContentTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.FinishModalTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.FinishModalActions {
  display: grid;
  row-gap: 10px;
}

.workout-detail-add-exercise {
  button {
    width: 100%;
  }
}
