<div class="workout-detail">
  <div class="workout-detail-header">
    <button (click)="complete()">Finish</button>
    <button class="secondary" (click)="cancel()">Cancel</button>
  </div>

  <div class="workout-detail-title">
    <h2>{{workout.title}}</h2>
    <Timer></Timer>
  </div>

  <div class="workout-detail-sets">
    <div *ngFor="let e of workout.exercises; let i = index;">
      <ExerciseCard
        [exercise]="e"
        [exerciseIndex]="i">
      </ExerciseCard>
    </div>
  </div>

  <div class="workout-detail-add-exercise">
    <button class="pill-button--blue" (click)="openExercisePicker()">Add Exercise</button>
  </div>
</div>

<app-exercise-picker
  [isOpen]="isChoosingExercise"
  (closed)="isChoosingExercise = false"
  (selected)="addExercise($event)">
</app-exercise-picker>
