button {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 13px 18px;
  background: #457B9D;
  outline: none;
  border: 2px solid transparent;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  &:focus {
    background: #34627e;
  }

  &.secondary {
    background: #f1f1f1;
    color: rgb(216 100 100);
    padding: 13px 18px;
  }

  &.link-button {
    background: transparent;
    border: none;
    color: #457B9D;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
  }

  &.pill-button {
    display: flex;
    justify-content: center;
    background: #d5d5d5;
    border-radius: 8px;
    font-size: 14px;
    padding: 3px;

    &--blue {
      display: flex;
      justify-content: center;
      background: #d5d5d5;
      border-radius: 8px;
      font-size: 14px;
      padding: 3px;
      background: #7b96b5;
    }
  }
}

.ButtonText {
  opacity: 1;
}

.ButtonTextLoading {
  opacity: 0;
}

.ButtonLoader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
