<div class="wrapper" [routerLink]="['workout', workout.id]">
  <div class="expander">
    <Expander #Expander>
      <div (click)="viewHistory($event)" aria-hidden="true">View History</div>
      <div (click)="delete($event)" aria-hidden="true">Delete</div>
    </Expander>
  </div>

  <div>
    <label [for]="">{{workout.title}}</label>

    <ul>
      <li *ngFor="let e of workout.exercises">{{e.title}}</li>
    </ul>
  </div>

  <div class="workout-date">
    {{formatDate(workout) | date }}
  </div>
</div>

<Backdrop [isActive]="Expander.isActive" (clicked)="Expander.deactivate()"></Backdrop>

